<div class="text-center">
  <%= form_with(model: bowling_center) do |form| %>
    <% if bowling_center.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(bowling_center.errors.count, "error") %> prohibited this bowling_center from being saved:</h2>

        <ul>
          <% bowling_center.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <table id="form">
      <tr>
        <th><i style="color:red;">(必須)</i><%= form.label :name , "ボウリング場名" %></th>
        <td><%= form.text_field :name, id:"bowling_center_name" %></td>
      </tr>
      <tr>
        <th><i style="color:red;">(必須)</i><%= form.label :address , "住所" %></th>
        <td><%= form.text_field :address, id:"bowling_center_address" %></td>
      </tr>
      <tr>
        <th><%= form.label :phone_number , "電話番号" %></th>
        <td><%= form.text_field :phone_number, id:"bowling_center_number" %></td>
      </tr>
      <tr>
        <th><%= form.label :hp , "ホームページ" %></th>
        <td><%= form.text_field :hp, id:"bowling_center_hp" %></td>
      </tr>
    </table>

    <div class="actions mt-3">
      <%= form.submit %>
    </div>
  <% end %>
</div>
