<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col">
      <table>
        <thead>
          <tr>
            <th>ボウリング場名</th>
            <th>住所</th>
            <th>電話番号</th>
            <th>ホームページ</th>
          </tr>
        </thead>
        <tbody>
          <% @bowling_centers.each do |bowling_center| %>
            <tr>
              <td><%= bowling_center.name %></td>
              <td><%= bowling_center.address %></td>
              <td><%= bowling_center.phone_number %></td>
              <td><%= bowling_center.hp %></td>
              <td><%= link_to '編集', [:edit, :bowling_center] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col">
      <p><%= link_to "スコア一覧を見る", scores_path, model: @scores %></p>
    </div>
  </div>
</div>

<p><%= link_to 'トップに戻る', root_path %></p>
