<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ボウリング場名</th>
            <th>住所</th>
            <th>電話番号</th>
            <th>ホームページ</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><%= @bowling_center.name %></td>
              <td><%= @bowling_center.address %></td>
              <td><%= @bowling_center.phone_number %></td>
              <td><%= @bowling_center.hp %></td>
              <td><%= link_to '編集', [:edit, :bowling_center], class:"text-decoration-none" %></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="map" class="justify-content-center"></div>
  <div class="d-flex justify-content-center mt-3">
    <%= link_to "スコアを入力する", new_bowling_center_score_path(@bowling_center), class:"btn btn-danger m-3" %>
    <%= link_to "スコア一覧を見る", bowling_center_scores_path(@bowling_center), class:"btn btn-outline-danger m-3" %>
  </div>
  <div class="d-flex justify-content-center mt-1">
    <%= link_to 'ボウリング場一覧に戻る', bowling_centers_path, class:"btn btn-outline-primary m-3" %>
    <%= link_to 'トップに戻る', root_path, class:"btn btn-outline-dark m-3" %>
  </div>
</div>

<script type="text/javascript">
  const GOOGLE_MAP_API = config.apikey;
  console.log(GOOGLE_MAP_API)

  function initMap() {
    var test = {lat: <%= @bowling_center.latitude %>, lng: <%= @bowling_center.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15, 
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
    var contentString = '住所：<%= @bowling_center.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
  window.onload = function () {
      initMap();
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=GOOGLE_MAP_API&callback=initMap">
</script>
