<div class="container justify-content-center">
  <h1 class="text-center mb-3">スコア編集</h1>
  <%= render 'form', score: @score %>
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-outline-danger m-3"><%= link_to "スコア一覧を見る", bowling_center_scores_path(@bowling_center, @score) %></button>
    <button type="button" class="btn btn-outline-primary m-3"><%= link_to 'ボウリング場詳細に戻る', @bowling_center %></button>
    <button type="button" class="btn btn-outline-primary m-3"><%= link_to 'ボウリング場一覧', bowling_centers_path %></button>
    <button type="button" class="btn btn-outline-dark m-3"><%= link_to 'トップに戻る', root_path %></button>
  </div>
</div>
