<p id="notice"><%= notice %></p>
<div class="containar">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>ゲーム数</th>
            <th>投球日時</th>
            <th>点数</th>
          </tr>
        </thead>
        <tbody>
          <% @score.each.with_index(1) do |score, index| %>
            <tr>
              <td><%= index %></td>
              <td><%= score.created_at.strftime("%Y年%m月%d日 %H時%M分") %></td>
              <td><%= score.point %></td>
              <td><%= link_to '編集', edit_bowling_center_score_path(id: score) %></td>
              <td><%= link_to '削除', "/bowling_centers/#{@bowling_center.id}/scores/#{score.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table">
        <tr>
          <th>MAX</th>
          <td>
          <% if @score.any? %>
            <%= @score.maximum('point') %>点
          <% else %>
            0点
          <% end %>
          </td>
        </tr>
        <tr>
          <th>AVE</th>
          <td>
          <% if @score.any? %>
            <%= @score.average('point').floor %>点
          <% else %>
            0点
          <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-danger m-3"><%= link_to "スコアを入力する", new_bowling_center_score_path(@bowling_center) %></button>
    <button type="button" class="btn btn-outline-primary m-3"><%= link_to 'ボウリング場詳細に戻る', @bowling_center %></button>
    <button type="button" class="btn btn-outline-primary m-3"><%= link_to 'ボウリング場一覧', bowling_centers_path %></button>
    <button type="button" class="btn btn-outline-dark m-3"><%= link_to 'トップに戻る', root_path %></button>
  </div>
</div>
