<h1>点数入力</h1>

<h2>ボウリング場名: <%= @bowling_center.name %></h2>

<%= render 'form', score: @score %>

<%= link_to 'ボウリング場詳細に戻る', @bowling_center %>
<%= link_to 'ボウリング場一覧に戻る', bowling_centers_path %>
<%= link_to 'トップに戻る', root_path %>
